form, dl, div {
  overflow: auto;
}

dt {
  width: 20%;
  margin-bottom: 10px;
  line-height: normal; /* disable bootstrap */
  float: left;
}

dd {
  width: 80%;
  margin-bottom: 10px;
  line-height: normal; /* disable bootstrap */
  float: left;
}

dd input[type='text'] {
  width: 100%;
}

dd select {
  width: 80%;
}

dd textarea {
  width: 100%;
  min-height: 200px;
}

.button {
  text-align: right;
}
